body {
  font-family: 'Nata Sans', sans-serif;
  background-color: #212121;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}

h1 {
  font-family: 'Nata Sans', sans-serif;
  text-align: center;
  color: #e5e5e5;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  font-family: 'Nata Sans', sans-serif;
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

button {
  font-family: 'Nata Sans', sans-serif;
  padding: 10px 15px;
  background-color: #054484;
  color: #e5e5e5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botoes {
  font-family: 'Nata Sans', sans-serif;
  display: flex;
  gap: 10px;
}

.botoes button {
  font-size: 0.8em;
  padding: 5px 8px;
}

button.limpar {
  background-color: #851001;
}

button.remover {
  background-color: #851001;
}

button.remover:hover {
  background-color: #ac1400;
}

button.limpar:hover {
  background-color: #ac1400;
}

button:hover {
  background-color: #166cc1;
}

ul {
  list-style: none;
  padding: 0;
  font-family: 'Nata Sans', sans-serif;
}

li {
  font-family: 'Nata Sans', sans-serif;
  background-color: #424242;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  font-family: 'Nata Sans', sans-serif;
  background-color: #054484;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

li button:hover {
  background-color: #166cc1;
  font-family: 'Nata Sans', sans-serif;
}
